# 4.6 Task Combining Data

## Contents List:

- Import libraries and orders_products_combined.pkl and products_checked.csv

- Merge df_orders_products_combined with df_prods

    - Create merge flag

- Export orders_products_merged.pkl

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [2]:
# Import orders_products_combined.pkl as dataframe

path = r'C:\Users\susan\OneDrive\Desktop\Data Analytics Program\June 2023 Instacart Basket Analysis'

In [3]:
df_orders_products_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [4]:
# Check the output

df_orders_products_combined.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [5]:
# Check the shape

df_orders_products_combined.shape

(32434489, 10)

In [6]:
# Import products_checked.csv as dataframe

df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

In [7]:
# Check the output

df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [8]:
# Check the shape

df_prods.shape

(49672, 5)

# Merge df_orders_products_combined with df_prods

In [9]:
df_orders_products_merged = df_orders_products_combined.merge(df_prods, on = 'product_id')

In [10]:
df_orders_products_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices
0,2539329,1,1,2,8,NaN,196,1,0,both,Soda,77,7,9.0
1,2398795,1,2,3,7,15.0,196,1,1,both,Soda,77,7,9.0
2,473747,1,3,3,12,21.0,196,1,1,both,Soda,77,7,9.0
3,2254736,1,4,4,7,29.0,196,1,1,both,Soda,77,7,9.0
4,431534,1,5,4,15,28.0,196,1,1,both,Soda,77,7,9.0

In [15]:
# Remove "_merge" column from df_orders_products_combined to enable merge flag

df_orders_products_combined = df_orders_products_combined.drop(columns = ['_merge'])

In [16]:
# Create merge flag for df_orders_products_merged

df_orders_products_merged = df_orders_products_combined.merge(df_prods, on = 'product_id', indicator = True)

In [17]:
# Check output

df_orders_products_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both

In [18]:
# Check results of merge flag

df_orders_products_merged['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [19]:
# Check shape

df_orders_products_merged.shape

(32404859, 14)

# Export df_orders_products_merged in pickle format

In [20]:
df_orders_products_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))